<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>파일 여러개 보기</title>
    <style>
        .wrap {
           width:100%;
           max-width:1280px;
           display:flex;
           justify-content: space-between;

           margin:0 auto;
        }
        p {
            text-align:center;
        }
    </style>
</head>
<body>
    <h1>파일 여러 개 보기</h1>
    <div class="wrap">
        <div th:each="img : ${imgs}">
            <img th:src="@{|/${img.savedFileName}|}" alt="" width="150" height="150">
            <p>
                <a th:href="@{|/download?savedPathFileName=${img.savedPathFileName}|}">다운로드([[${img.savedFileSize}]])</a>
            </p>
        </div>
    </div>
</body>
</html>