<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>단일 파일 업로드 보기</title>
</head>
<body>
    [[${savedFileName}]]


    [[${folderName}]]
    [[${savedPathFileName}]]


    <h2>단일 파일 업로드 보기</h2>
    <p>
        <!-- upload를 기준으로 시작 upload/folderName(파일이름)/   -->
        <img th:src="@{|/${folderName}/${savedFileName}|}" alt="" width="150" height="150">
    </p>
    <p>
        <!-- 경로의 뒤에 ?=savedPathFileName을 실어서 보내준다 -->
        <a th:href="@{|/download?savedPathFileName=${savedPathFileName}|}">다운로드</a>
    </p>
    <p>
        <a th:href="@{/upload}">업로드 페이지로 이동</a>
    </p>
</body>
</html>