<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    Document</title>
</head>
<body>
    <h2>Ajax 업로드하기</h2>
    <form id="upload-form">
        <!--  multiple 여러개 올릴때 사용  -->
        <input type="file" name="files" multiple>
        <button class="btn">AJAX UPLOAD</button>
    </form>
    <br><br><br><br><br><br>

    <h1>AJAX 이미지 출력하기</h1>
    <div id="wrap">

    </div>

<script>
    document.querySelector(".btn").addEventListener('click', (e) => {
        e.preventDefault();

        let formData = new FormData();
        let uploadData = document.querySelector("#upload-form")[0].files;

        for(let i = 0; i < uploadData.length; i++) {
            formData.append("files", uploadData[i]);
        }

         $.ajax({
            type: "post",
            url: "/v3/upload",
            dataType: "json",
            data: formData,
            contentType: false,
            processData: false,
            success: function( result ) {
                let output = "";
                result.forEach( (r) => {
                <!-- List를 사용했으므로 r.변수명만 사용한다 -->
                    output += ` <p>
                        <!-- 이미지 표시 => savedFileName -->
                        <img src="/${r.savedFileName}" alt="" width=150 height=150>
                        </p>
                        <p>
                        <!-- 다운로드표시 => savedPathFileName 이미지 표시와는 다르게
                        ? 물음표뒤에 savedPathFileName값을 담아주어야 한다 -->
                            <a href="/download?savedPathFileName=${r.savedPathFileName}">다운로드</a>
                        </p>`;
                });
                document.querySelector("#wrap").innerHTML = output;
            }
         });
    });
</script>
</body>
</html>